.manageBlogTitle {
    font-family: 'Lora', serif;
    color: #021843;
    font-weight: 550;
}

.adminPostText {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.filterBtn,
.sortBtn {
    color: white;
    background-color: teal;
    font-size: 18px;
    border: 0;
}

.filterByDate,
.filterByCategory {
    color: teal;
    background: white;
    border: 2px solid teal;
    font-size: 17px;
}

.filterCatList {
    list-style: none;
}

.filterCatListItem {
    cursor: pointer;
}